@import url(https://fonts.google.com/specimen/Overpass?preview.text_type=custom);
@import url(https://fonts.google.com/specimen/Ubuntu?preview.text_type=custom);

.hero {
  border-bottom-left-radius: 100px;
  padding: 30px;
  background-color: #ff525c;
  height: 450px;
  background-image: url(./images/bg-pattern-intro-desktop.svg);
  background-size: auto;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.navbar {
  font-family: "Ubuntu", sans-serif;
  --bs-navbar-active-color: white;
}

.nav-item.dropdown {
  font-weight: 600;
  font-size: 16px;
}

.nav-link.dropdown-toggle {
  color: white;
}

a.nav-link:hover {
  text-decoration: underline;
}

.dropdown-item:hover {
  font-weight: bold;
  background-color: transparent;
}

.btn {
  background-color: hsl(13, 100%, 72%);
  color: white;
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  margin: 20px;
  padding: 10px 30px;
  border-radius: 100px 100px 100px 100px;
}

.btn:hover {
  background-color: white;
  color: #ff525c;
}

h1.mb-3 {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
}

footer {
  background-color: hsl(240, 10%, 16%);
  border-top-right-radius: 100px;
  padding: 50px 80px;
}



.col {
  margin: 20px;

}

@media (max-width: 800px) {
  .col {
    flex: 100%;
  }
}

.top-heading {
  margin: 90px 70px;

  color: hsl(237, 17%, 21%);
}

.top-section {
  color: hsl(237, 17%, 21%);
  margin: 80px 0px;
  padding-bottom: 10%;

  display: flex;
  flex-direction: column;
  background-image: url(./images/illustration-editor-desktop.svg);
  background-repeat: no-repeat;
  background-origin: padding-box;
  background-position: 110% 50%;
  background-size: 40%;
  justify-content: center;


}

.top-section__text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  padding-left: 40px;
  margin-left: 60px;
  width: 50%;
}


h2 {
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
}
h3 {
  color: hsl(237, 23%, 32%);
  margin: 10px 00px 10px 0px;
  font-size: 3vh;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
}

p {
  font-size: 2vh;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
}



.bottom-section {
  color: hsl(237, 17%, 21%);
  margin: 80px 0px;
  padding: 50px 50px;

  display: flex;

  background-image: url(./images/illustration-laptop-desktop.svg);
  background-repeat: no-repeat;
  background-origin: padding-box;
  background-position: -10% 50%;
  background-size: 35%;
  justify-content: space-between;
  align-items: center;

}

.bottom-section__text {
  display: flex;
  flex-direction: column;
  justify-content: center;

  padding-left: 40px;

  width: 50%;

}

.middle-section {
  background-color: hsl(237, 17%, 21%);
  color: white;
  border-radius: 0px 100px 0px 100px;
  padding: 50px 50px;
  display: flex;
  height: 400px;
  align-items: center;
  justify-content: space-between;

}

.middle-section__text {
  display: flex;
  flex-direction: column;
  width: 50%;

  padding-left: 40px;

}


.image-middle-section {
   width: 40%;
  margin: 10px; 

} 

li.nav-item.mb-2 {
  font-family: 'Ubuntu', sans-serif;
  font-weight: normal;
  font-size: 1vh;
  color: hsl(0, 100%, 64%);
}

@media (max-width: 800px) {
  .top-section {
    /* background-position: 50% 40%; */
    background-image: none;
    align-items: center;
    margin: 0;
  }

  .top-section__img-mobile {
    background-image: url(./images/illustration-editor-mobile.svg);
    height: 200px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
    margin: 2%;
    padding: 2%;

  }
  .top-heading {
    margin: 10% 0% 10% 0%;
  }
  .top-section__text {
    margin: 0;
  }
  
  .middle-section {
    flex-direction: column;
    justify-content: center;
  }

  .middle-section__text {
    padding: 0% 0% 10% 0%;
  }

  .bottom-section {
    flex-direction: column;
    background-image: none;
  }

  .bottom-section__img-mobile {
    background-image: url(./images/illustration-editor-mobile.svg);
    height: 200px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
    margin: 2%;
    padding: 2%;

  }

}